/*  typography */
// @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:300,400,500,600,700');
/* Roboto regular */

@font-face {
  font-family: "Roboto";
  src: url("../font/roboto/RobotoCondensed-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Roboto italic */

@font-face {
  font-family: "Roboto";
  src: url('../font/roboto/RobotoCondensed-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
/* Roboto Light */
@font-face {
  font-family: "Roboto";
  src: url('../font/roboto/RobotoCondensed-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url('../font/roboto/RobotoCondensed-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Roboto bold */

@font-face {
  font-family: "Roboto";
  src: url('../font/roboto/RobotoCondensed-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url('../font/roboto/RobotoCondensed-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'futura-bold';
  src: url('../fonts/Futura-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  line-height: 1.5;
  font-family: $primary-font;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  color: $text-color;
}

p, .paragraph {
  font-weight: 400;
  color: $text-color;
  font-size: 15px;
  line-height: 1.5;
  font-family: $primary-font;
}

h1,h2,h3,h4,h5,h6 {
  color: $text-color-dark;
  font-family: $secondary-font;
  font-weight: 700;
  line-height: 1.5;
}

h1, .h1{
  font-size: 60px;
  @include mobile {
    font-size: 45px;
  }
}

h2, .h2{
  font-size: 40px;
  @include mobile {
    font-size: 30px;
  }
}

h3, .h3{
  font-size: 30px;
  @include mobile {
    font-size: 20px;
  }
}

h4, .h4{
  font-size: 20px;
  @include mobile {
    font-size: 18px;
  }
}

h5, .h5{
  font-size: 18px;
  @include mobile {
    font-size: 16px;
  }
}

h6, .h6{
  font-size: 16px;
  @include mobile {
    font-size: 14px;
  }
}
.fs-30 {
  font-size: 30px;
}
.fs-20 {
  font-size: 20px !important;
}
.bg-course-info {
  background-color:  #f9f9f9 !important;
}
.content h2 {
  color: $primary-color !important;
}