<!-- page title -->
<section class="page-title-section overlay" style="background-image: url('{{ .Params.Bg_image | relURL}}'),url('{{`images/backgrounds/page-title.jpg`| relURL}}');" >
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="list-inline custom-breadcrumb">
          <div>
            <span class="h2"><a class="text-primary font-secondary" href="{{ site.BaseURL | absLangURL }}">{{ site.Params.home }}</a></span>
            <span class="h5"><i class="ti-angle-right text-white"></i></span>
            <span class=" text-white h3 font-secondary">{{ .Title }}</span>
          </div>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <p class="text-lighten">{{ .Params.Description | markdownify }}</p>
      </div>
    </div>
  </div>
</section>